# --- Virtual Environment ---
venv310/
venv/
ENV/
.venv/

# --- Environment Variables ---
.env

# --- Python cache / compiled files ---
__pycache__/
*.py[cod]
*$py.class

# --- Distribution / Packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- Logs & Database ---
*.log
*.sqlite3
*.db

# --- IDE / Editor files ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- System files (Windows / MacOS) ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Test / Coverage ---
.coverage
.tox/
.nox/
.pytest_cache/

# --- FastAPI / Uvicorn ---\
*.pid
