<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/style.css?v=4">
</head>
<body class="navbar">
  <ul>
    <li><a href="/issuer/content" target="content_is">Home</a></li>
    <li><a href="/issuer/data_cos" target="content_is">View Data Doc Group</a></li>
    <li><a href="/issuer/eval_report" target="content_is">Evaluation Report</a></li>
    <li><a href="/issuer/eval_circulate" target="content_is">Evaluation Tracker</a></li>
    <li><a href="/eval_assigned" target="content_is">Assigned Evaluation</a></li>
    <li><a href="/logout" target="_top">Logout</a></li>
</ul>
</body>
</html>